# Validate Results
Yue, Maca, Rukhshan

Our best random forsest model seems to classfiy less active accounts as bots. Although the precision score is very high, we want to check whether they tend to misclassify less active human accounts as bots.

## 1. Prepare Dataset

In [28]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

df_time = pd.read_csv("../Exploring-Features/created_time_accounts_test.csv")
df_time.head()

   index                      created_at  label_predicted
0  21228        Thu Oct 18 23:42:42 2018                1
1  48490        Tue Jun 19 20:13:50 2012                0
2  29369        Sat Oct 27 08:55:12 2018                1
3  21131        Tue Oct 16 09:54:02 2018                1
4  52764  Tue May 13 06:15:17 +0000 2014                0

In [29]:
df_consolidated = pd.read_csv("../data_consolidation/consolidated_version2.csv")
df_consolidated['index_original'] = df_consolidated.index
df_subset =  df_consolidated[[ "index_original",'bot', 'created_at', 'probe_timestamp']].copy()
df_subset.head()

,index_original,bot,created_at,probe_timestamp
0,0,human,Sun Feb 15 14:56:36 +0000 2015,Thu May 16 13:57:12 +0000 2019
1,1,bot,Fri Oct 14 08:00:55 +0000 2011,Tue Apr 16 13:51:17 +0000 2019
2,2,human,Sat Dec 26 13:55:00 +0000 2015,Sun May 12 17:01:48 +0000 2019
3,3,human,Sun May 22 14:53:38 +0000 2016,Fri May 17 16:59:10 +0000 2019
4,4,bot,Sun Jun 24 20:09:50 +0000 2018,Wed Feb 13 01:56:38 +0000 2019

In [41]:
# Join the two datasets together. 
merged_df = pd.merge(left=df_time, right=df_subset, how='left', left_on='index', right_on='index_original')
merged_df.head()

,index,created_at_x,label_predicted,index_original,bot,created_at_y,probe_timestamp
0,21228,Thu Oct 18 23:42:42 2018,1,21228,bot,Thu Oct 18 23:42:42 2018,Wed Oct 24 18:47:39 2018
1,48490,Tue Jun 19 20:13:50 2012,0,48490,human,Tue Jun 19 20:13:50 2012,Tue Nov 06 11:11:27 2018
2,29369,Sat Oct 27 08:55:12 2018,1,29369,bot,Sat Oct 27 08:55:12 2018,Sun Oct 28 01:17:31 2018
3,21131,Tue Oct 16 09:54:02 2018,1,21131,bot,Tue Oct 16 09:54:02 2018,Tue Oct 16 10:02:32 2018
4,52764,Tue May 13 06:15:17 +0000 2014,0,52764,human,Tue May 13 06:15:17 +0000 2014,Mon Jan 21 01:00:06 +0000 2019

In [43]:
#Convert the time columns into datetime objects
merged_df["created_at_x"] = pd.to_datetime(merged_df["created_at_x"],utc=True)
merged_df["created_at_x"] = merged_df.created_at_x.dt.tz_convert('MST')
merged_df["probe_timestamp"] = pd.to_datetime(merged_df["probe_timestamp"],utc=True)
merged_df["probe_timestamp"] = merged_df.probe_timestamp.dt.tz_convert('MST')

merged_df.head()

,index,created_at_x,label_predicted,index_original,bot,created_at_y,probe_timestamp
0,21228,2018-10-18 16:42:42-07:00,1,21228,bot,Thu Oct 18 23:42:42 2018,2018-10-24 11:47:39-07:00
1,48490,2012-06-19 13:13:50-07:00,0,48490,human,Tue Jun 19 20:13:50 2012,2018-11-06 04:11:27-07:00
2,29369,2018-10-27 01:55:12-07:00,1,29369,bot,Sat Oct 27 08:55:12 2018,2018-10-27 18:17:31-07:00
3,21131,2018-10-16 02:54:02-07:00,1,21131,bot,Tue Oct 16 09:54:02 2018,2018-10-16 03:02:32-07:00
4,52764,2014-05-12 23:15:17-07:00,0,52764,human,Tue May 13 06:15:17 +0000 2014,2019-01-20 18:00:06-07:00

In [50]:
# Calculate time difference
merged_df['time_diff'] = (merged_df['probe_timestamp']-merged_df['created_at_x']).astype('timedelta64[D]')
merged_df.head()

,index,created_at_x,label_predicted,index_original,bot,created_at_y,probe_timestamp,time_diff,bot_actual
0,21228,2018-10-18 16:42:42-07:00,1,21228,bot,Thu Oct 18 23:42:42 2018,2018-10-24 11:47:39-07:00,5.0,1.0
1,48490,2012-06-19 13:13:50-07:00,0,48490,human,Tue Jun 19 20:13:50 2012,2018-11-06 04:11:27-07:00,2330.0,0.0
2,29369,2018-10-27 01:55:12-07:00,1,29369,bot,Sat Oct 27 08:55:12 2018,2018-10-27 18:17:31-07:00,0.0,1.0
3,21131,2018-10-16 02:54:02-07:00,1,21131,bot,Tue Oct 16 09:54:02 2018,2018-10-16 03:02:32-07:00,0.0,1.0
4,52764,2014-05-12 23:15:17-07:00,0,52764,human,Tue May 13 06:15:17 +0000 2014,2019-01-20 18:00:06-07:00,1713.0,0.0

In [51]:
# Convert bot column to a binary column with value 1 and 0
merged_df.loc[merged_df['bot']=="bot",'bot_actual'] = 1
merged_df.loc[merged_df['bot']=="human",'bot_actual'] = 0
merged_df.head()

,index,created_at_x,label_predicted,index_original,bot,created_at_y,probe_timestamp,time_diff,bot_actual
0,21228,2018-10-18 16:42:42-07:00,1,21228,bot,Thu Oct 18 23:42:42 2018,2018-10-24 11:47:39-07:00,5.0,1.0
1,48490,2012-06-19 13:13:50-07:00,0,48490,human,Tue Jun 19 20:13:50 2012,2018-11-06 04:11:27-07:00,2330.0,0.0
2,29369,2018-10-27 01:55:12-07:00,1,29369,bot,Sat Oct 27 08:55:12 2018,2018-10-27 18:17:31-07:00,0.0,1.0
3,21131,2018-10-16 02:54:02-07:00,1,21131,bot,Tue Oct 16 09:54:02 2018,2018-10-16 03:02:32-07:00,0.0,1.0
4,52764,2014-05-12 23:15:17-07:00,0,52764,human,Tue May 13 06:15:17 +0000 2014,2019-01-20 18:00:06-07:00,1713.0,0.0

In [69]:
#Select accounts only created for a few days
df_five_days = merged_df[merged_df["time_diff"]<=1000]
df_five_days.head()

,index,created_at_x,label_predicted,index_original,bot,created_at_y,probe_timestamp,time_diff,bot_actual
0,21228,2018-10-18 16:42:42-07:00,1,21228,bot,Thu Oct 18 23:42:42 2018,2018-10-24 11:47:39-07:00,5.0,1.0
2,29369,2018-10-27 01:55:12-07:00,1,29369,bot,Sat Oct 27 08:55:12 2018,2018-10-27 18:17:31-07:00,0.0,1.0
3,21131,2018-10-16 02:54:02-07:00,1,21131,bot,Tue Oct 16 09:54:02 2018,2018-10-16 03:02:32-07:00,0.0,1.0
5,37484,2018-10-29 08:23:03-07:00,1,37484,bot,Mon Oct 29 15:23:03 2018,2018-11-07 14:28:36-07:00,9.0,1.0
6,16719,2018-03-27 10:08:49-07:00,1,16719,bot,Tue Mar 27 17:08:49 2018,2018-10-15 11:08:06-07:00,202.0,1.0

## 2. Analyze

In [70]:
df_matrix = pd.DataFrame(df_five_days, columns=['bot_actual','label_predicted'])
confusion_matrix = pd.crosstab(df_matrix['bot_actual'], df_matrix['label_predicted'], rownames=['Actual'], colnames=['Predicted'])
print (confusion_matrix)

Predicted    0     1
Actual
0.0        214   114
1.0        111  8314

0.9975828238305133